.orders {
    padding: 20px;
}

.orders h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0080ff;
}

.orders table {
    width: 100%;
    border-collapse: collapse;
    background: #574f4f;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.orders th,
.orders td {
    padding: 12px 15px;
    text-align: left;
}

.orders th {
    background: #34495e;
    color: #ecf0f1;
    font-weight: 600;
}

.orders tr {
    border-bottom: 1px solid #605555;
}

.orders tr:hover {
    background: #916767;
}

.orders .status {
    padding: 6px 12px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}