.logout-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.logout-animation p {
    margin-top: -20px;
    font-size: 1.2rem;
    color: #28ac38;
    text-shadow: #7ce1a6;
    animation: fadeOut 1s ease-in-out;
    text-align: center;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
